/*
color pallet from https://www.w3schools.com/colors/colors_palettes.asp
HEX: #d5f4e6
HEX: #80ced6
HEX: #fefbd8
HEX: #618685
*/


* {
    font-family:Arial, Helvetica, sans-serif;
}

body {
    background-color: #d5f4e6;
}

/* Header background block */
header {
    padding: 20px;
    background-color: #618685;
}

/* adds lines after the h2 headings for design */
/* inspired from https://www.w3docs.com/snippets/css/how-to-add-lines-before-and-after-heading-text.html */
h2:after{
    content: "";
    display: block;
    width: 130px;
    height: 5px;
    background: black;
    right: 0;
    top: 50%
    position: absolute; 
}

/* Formatting for portfolio title */
header h1 {
    font-weight: bolder; 
    display: inline-block;
    font-size: 75px; 
}

/* Header navigation links formatting */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 20px; 
    font-size: 30px;
}

.cover {
    object-fit:contain; 
    width: 100%; 
    text-align: center;
    margin: 5px 5px; 
}


/* Formatting for the work section images */
#Horiseon img {
    width: 400px;
    clear: left;
    margin-bottom: 1px;
    margin-right: 10px;
}

#work {
    display: flex;
}

#work ul { 
    flex: 1 0 0;
    display: flex; 
    flex-wrap: wrap;  
}

#work li {
    display: inline-block;
    justify-content: space-evenly; 
}

/* Sets the first project to take up twice as much space if available */
#Horiseon {
    flex: 2; 
}

#Filler1,
#Filler2 {
    flex: 1; 
}

/* adds a highlight when selected*/
#Horiseon:hover a img,
#Filler1:hover img,
#Filler2:hover {
     box-shadow: 0 0 5px 5px #f2fcf8;
}

#Filler1 img, 
#Filler2 img {
    width: 200px;
    height: 200px; 
}

/* Formatting for contact me section */
#contactMe {
    width: 100%;
}

#contactMe h2 {
    display: inline-block;
}

#contactMe ul {
    list-style-type: none;
    display: flex;
    font-size: 20px; 
}

#contactMe ul li {
    display: inline-block;
    margin-left: 20px;
    justify-content: space-between;  

}
